body{
    background:aliceblue;
}
#container{
    width:700px;
    margin:0px auto;
}
#ChatWindow{
    height:300px;
}
#MainWrapper{

}
#ChatWrapper{
    float:left;
    border:1px solid;
    border-radius:10px;
    background:#ff44ff;
    padding:10px;
}
#userWrappers{
    float:left;
    border:1px solid;
    border-radius:10px;
    background:#ff44ff;
    padding:10px;
    margin-left:20px;
    width:150px;
    max-height:200px;
}
#namesWrapper{
    float:left;
    border:1px solid;
    border-radius:10px;
    background:#ff44ff;
    padding:10px;
    margin-left:20px;

}
